<ion-header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</ion-header>


<ion-content style="--background: url('assets/view3.jpg') no-repeat center / cover;">
  <br>
  <br>
      <div class="container">
          <div class="center">
            <img src="assets\vv.png" alt="" srcset="" />
            
          </div>
        </div>
        <br>
        <br>
        <ion-card>
            <ion-card-content>
                <br>
               <div class="color2">
                <ion-label >Email Address</ion-label>
                <ion-item class="rounded">
                <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
                </ion-item>
                  <br>
                  <ion-label class="color3">Password</ion-label>
                  <ion-item class="rounded">
                    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
                  </ion-item>
                  <br>
                  
                  <ion-button type="submit" expand="block" (click)=log()>LOGIN</ion-button>
                  <div>
                  <ion-label>Already have an account?</ion-label>
                  <ion-label class="forgotPass" (click)= goToSignUp()>Sign Up</ion-label>
                </div>
                  <ion-label>Forgot Password?</ion-label>
                  <ion-label class="forgotPass" (click)= goToPage()>Reset</ion-label>
  
               
                </div>  
            </ion-card-content>
          </ion-card>
  </ion-content>
  <ion-footer>
    Designed by &#64;<b>MUT INNOVATIONLAB</b>
  </ion-footer>
  
