<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Student Academic Record</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 


  <swiper-slide *ngFor="let data of urlArray"  height="100%">  <iframe [src]="data" width="99%" height="100%"></iframe></swiper-slide>
 



</ion-content>code 