
.table-wrapper {
    overflow-x: auto;
  }
  
  .bordered {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
  }
  
  .bordered th,
  .bordered td {
    padding: 0.75rem;
    vertical-align: top;
    border: none;
  }
  
  .bordered thead th {
    vertical-align: bottom;
    border-bottom: none;
    background-color: #8b4513;
    color: #fff;
    font-weight: bold;
  }
  
  .bordered tbody+tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .color {
    background-color: #f8f9fa;
  }
  
  .white-text {
    color: #141414;
  }
  
  .bordered tbody tr:nth-of-type(odd) {
    background-color: #696969	;
    color: #fff;
  }
  
  .bordered tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 768px) {
    .bordered {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .bordered thead,
    .bordered tbody,
    .bordered th,
    .bordered td,
    .bordered tr {
      display: block;
    }
  
    .bordered thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .bordered tbody tr {
      border: none;
    }
  
    .bordered td {
      border: none;
      border-bottom: 1px solid #dee2e6;
      position: relative;
      padding-left: 50%;
    }
  
    .bordered td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  
    .bordered td:nth-of-type(1):before {
      content: 'Student: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(2):before {
      content: 'Faculty: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(3):before {
      content: 'Course: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(4):before {
      content: 'No of Recommendations: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(5):before {
      content: 'City: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(6):before {
      content: 'Email: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(7):before {
      content: 'Level: ';
      font-weight: bold;
    }
  
    .bordered td:nth-of-type(8):before {
      content: 'Grade Average: ';
      font-weight: bold;
    }
  }
  
  ion-toolbar{
    padding:0;
    margin:0; 
  }
  
  
  
   //scroll
   .cent {
    max-height: 480px; 
    overflow: auto;
  }
  
  .bordered {
    width: 100%;
    border-collapse: collapse;
  }
  
  .color {
    background-color: #f2f2f2;
  }
  
  .header-cell, .body td {
    padding: 8px;
    text-align: center;
  }
  
  .header-cell {
    position: sticky;
    top: 0;
    background-color: #fff; 
  }
  
  .body {
    overflow-y: scroll;
    max-height: 300px; 
  }