/* Image Styles */
.image-size {
  width: 100px;
  height: 60px;
  padding: 0;
  margin-bottom: 0;
}

/* Header Styles */
.header-title {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* Content and Footer Styles */
ion-content {
  --background: #ECF0F6;
}

ion-footer {
  background-color: #300505;
  color: #fcfcfc;
  text-align: center;
}

/* Popover Button Styles */
#popover-button {
  color: white;
}

/* Table Styles */
.bordered {
  border-collapse: collapse;
  width: 100%;
}

.color th {
  background-color: #641c1c;
  color: white;
  font-weight: bold;
}

.body tr:nth-child(even) {
  background-color: #7A726A;
}

.body tr:nth-child(odd) {
  background-color: #EBDDDD;
}

.cent td,
.cent th {
  text-align: center;
  padding: 8px;
}

.cent ion-icon {
  margin-right: 5px;
}

/* Text Styles */
.total-text {
  font-weight: bold;
  margin-top: 10px;
}

/* Button Styles */
.logout-button {
  margin-right: 10px;
  --color: white;
  --ion-color-base: white;
}

/* Pagination Styles */
.pagination,
.centered-buttons {
  display: flex;
  justify-content: center;
}

.pagination-button {
  background-color: #c42e2e;
  color: white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Status Button with Tooltip */
.status-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s;
}

.status-btn:hover {
  background-color: #dc3535;
}

.status-btn::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.status-btn:hover::before {
  visibility: visible;
  opacity: 1;
}
