<ion-content [fullscreen]="true" style="--background: url('assets/view2.jpg') no-repeat center / cover;">
  <div class="cent">
    <ion-grid class="dropdown-grid">
      <table class="bordered">
        <thead class="color">
          <tr>
            <th>
              <ion-icon name="person"></ion-icon>
              <br>
              Student
            </th>
            <th>
              <ion-icon name="albums-outline"></ion-icon>
              <br>
              Student No.
            </th>
            <th>
              <ion-icon name="trending-up"></ion-icon>
              <br>
              Grade Average
            </th>
            <th>
              <ion-icon name="mail"></ion-icon>
              <br>
              Email
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="body">
          <tr *ngFor="let data of tableData.slice((currentPage - 1) * rowsPerPage, currentPage * rowsPerPage)">
            <!-- existing code -->
               
            <td class="white-text"   (click)="openValidateModal(data.academicRecordURl,data.cvUrl,data.idURL,data.letterURL)"  >{{data.fullName}}</td>
            <td>{{ data.studentno }}</td>
            <td class="tooltip" (click)="openViewAcademicRecordModal(data.academicRecordURl)">
              <ion-badge color="tertiary" style="cursor: pointer;">{{ data.gradeAverage }}</ion-badge>

  <span class="tooltiptext">View Academic record</span>
</td>
            <td class="white-text">{{data.email}}</td>
            <td>
              <button ion-button (click)="approve(data.id, data.email)" class="horizontal-button approve-button" style="color: green;" >
                Approve 
              </button>
              <button ion-button (click)="decline(data.id, data.email)" class="horizontal-button decline-button" color="success" style="color: red;">
                Decline
              </button>
            </td>
            
            
            
            
            
          </tr>
        </tbody>
      </table>
      <p class="total-text ion-text-left">Current Number of Applications: {{tableData.length}}</p>
    </ion-grid>
  </div>
  
  <div class="pagination">
    <div class="centered-buttons">
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
      <button class="pagination-button" [disabled]="currentPage === totalPages()" (click)="nextPage()">Next</button>
    </div>
  </div>
  
  
</ion-content>
<ion-footer>
  Designed by &#64;<b>MUT INNOVATIONLAB</b>
</ion-footer>